/* common*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.button{
    text-decoration: none;
    background-color: #2c7ae0;
    padding: 10px 40px;
    color:white;
    font-weight: 500;
    border-radius: 50px;
    transform :translateX(5px);

}
/*Animation*/

@keyframes fadeSlide {
    0%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(10px);
    }
    5%
    {transform :translateX(5px);
    }
}

.product:hover{
    box-shadow: 0px 5.34229px 13.3557px rgb(0 0 0 / 13%);
    border-radius: 10px;
    margin: 0 10px;
    cursor:pointer;
}

.cam{
    transition: transform 1s;
}
.cam:hover{
    transform: rotate(45deg);
}

/* Header style */


header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 0;
}

.website a {
    text-decoration: none;
    color: black;

}
.website h2{
    padding-left: 191px;
}
.navigation{
    display: flex;
}

.navitem{
    display: flex;
    padding: 0 20px;
}

.navitem li{
    list-style: none;
    padding:0 20px;
}

.navitem li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}


#special{
    padding-right: 1px;
}
#special2{
    padding-left: 1px;
}


/*section 1 */

.container{
    margin: 0;
    display: flex;
    align-items: center;
    padding:5%;
    padding-top: 60px;
}

.left{
    width: 60%;
    
    padding-left: 120px;
    
   
}
.left h1{
    font-size: 52px;
    font-weight: 700;
    margin: 0px;
   
}
.right {
    width:50%;
    padding-left: 30%;
    animation: fadeSlide 2s ease 0s 1;

}
.left p{
    padding-bottom: 16.1px;
    

}


.fa-long-arrow-alt-right{
    
    padding-left: 15px;
}

/*section 2 styles*/
.container-2{
    width: 1047px;
      
}
.items{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-row-gap:2px;
    justify-items: center;
    align-items: center;
}

.item{
    Width :84px;
    Height:26px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.item1{
    Width :84px;
    Height:26px;
    padding-top: 30px;
    padding-bottom: 30px;
}
hr {
    margin: 30px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgba(67, 112, 121, 0.473)));
}


 /*section */
.section3 h2{
    text-align: center;

}

.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star.empty{
    color: #AEAEAE;
}

.rating-point{
    padding-left: 4px;
}
.product-info p{
    color:#787885 ;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    margin: 2px;
    
}

.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    
}

.product{
    width: 329px;
    height: 476px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    animation: fadeSlide 2s ease 0s 1;
    padding: 20px 25px;
    padding-right: 0px;
    border-radius: 5px;
    margin-top: 30px;
}


/*last section */
.last_section{
    width: 1180px;
    padding-top: 50px;
    text-align: end;
    
}
.see-more-button{
    text-decoration: none;
    color: #2c7ae0;
    padding-right: 0;
    margin-right: 0;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.048);
    border-radius: 10px;

}
/*section 4*/
.bonus-container{
    padding-top: 100px;
    display: flex;
    width: 1047px;
    align-items: center;
    justify-content: space-between;
}
.bonus-img img{
    Width :490px;
    Height:320px;
    border-radius: 10px;
}


/*footer style*/
footer{
    padding-top: 80px;
}
.footer-text{
    background-color: #0A0826;
    color: aliceblue;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer_nav_item{
    display: flex;
    padding: 0 20px;
    justify-content: center;
}
.footer_nav_item li{
    list-style: none;
   padding:0px;
}
.footer_nav_item li a{
    text-decoration: none;
    color: white ;
    font-weight: 600;

}
.footer{_item
    width:55px;
    font-size: 30px;
    background-color: #5353573b;
    margin: 5px;
    border-radius: 100px;
}


/*-Media Queries */
/* mobile */
@media only screen and (max-width:688px){
    body{
        width: 100%;
    }
    html,body{
    overflow-x: hidden;
}

    header .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        padding-left:0px;
        
        align-items: center;
     
    }
    .website h2{
        padding-left: 0px;
        font-size: 30px;
    }
    .navitem{

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #special2{
        padding-left: 40px;
    }
    .container{
        margin: 0;
        display: flex;
        align-items: center;
        padding-top: 20px;
        flex-direction: column-reverse;
    }
    .left{
        padding-top: 20px;
        padding-left: 0px;
    }
    .left h1{
        font-size: 30px;
        font-weight: 700;
        margin: 0px;
       
    }
    .left p{
        
        font-size: 17px;
        
        padding-right: 5px;
       
    }
  
    .right {
        width: 100%;;
        padding-left:10px;
        margin-left: 0;
        animation: fadeSlide 2s ease 0s 1;
        align-items: center;
    
    }
    .right img{
        
        padding-left:50px;
        width: 80%;
    }
    .optional{
        width: 100%;
        background-image: url(/media/bg/background.png);
        background-repeat: no-repeat;
        background-position:110% 0%;
        background-size: 100%;
        
    }
    hr{
        display: none;
    }


    .container-2{
        width: 50%;
        justify-content: baseline;
          
    }
    .items{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap:14px;
        justify-content: space-around;
        justify-items: start;
        align-items: baseline;

        
    }
    .item1{
        Width :5%;
        padding: 0;
        margin: 0;
        padding-top: 40px;

    } 

    .products{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* grid-column-gap: 30px; */
        justify-content: center;
        
    }

    .mini-section{
        width: 100%;
        padding-top: 30px;
        text-align: end;
        padding-right: 50px;
        
    }
    .bonus-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bonus-img{
        width: 100%;        
        margin-left: 0;
        animation: fadeSlide 2s ease 0s 1;
        align-items: center;
    
    }
    .bonus-img img{
        Width :100%;
        border-radius: 10px;
    }
    .bonus-content{
        width: 100%;
        padding-left: 40px;
        align-items: center;
    }
    .bonus-content h2{
        padding-left:20px;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 700;
        margin: 0px;
    
    }
    .product:hover{
        box-shadow: 0px 5.34229px 13.3557px rgb(0 0 0 / 13%);
        border-radius: 10px;
        margin: 0 0px;
        color:rgb(243, 97, 97);
        cursor:pointer;
        
    }


}

/*---------------------tablet devices----------------------------------*/
@media only screen and (min-width:688px) and (max-width:992px) {
    .body{
        width:100%;
    }
    html,body{
        overflow-x: hidden;
    }
    .container{
        width:100%;
    }
    .website h2{
        padding-left: 10px;
    }
   .navitem{
       padding-right: 0px;
       padding-left: 20px;
   }
   .item{
       padding: 0;
   }
   #special{
       padding-left: 5px;
   }

    .left{
        padding-left: 30px;
        width: 40%;
    }
    .right{
        padding-left: 60px;
        width: 50%;
    }
    .container2{
        width: 100%;
    }
    .items {
        grid-template-columns: repeat(4,1fr);
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 0px;
        justify-content: center;
        justify-items: center;
        
    }

    .bonus-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        
        align-items: center;
    }
    .bonus-content {
        padding-top: 25px;
    }
}